
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lato:wght@300&display=swap');

@layer utilities {
  ::-webkit-scrollbar {
      display: none;
    }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

  * {
    /* font-family: 'Patrick Hand', cursive; */
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
  }

  html {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .home-quote {
    font-family: 'Bangers', cursive;
    color: #36454F;
  }

  .flex-main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100vh;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;

  }

  .flex-main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100vh;
  }

  .flex-nav-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border: 1px solid black;
  }

  /* ------------------- menu ------------------- */
  /* .menu-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    width: 75%;

  } */

  .menu-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 25px;
            
    width: 100%;
  }

  .menu-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        
    width: 25vw;
    margin: 20px;
    padding: 10px;

    border: 1px solid red;

  }
  /* ------------------- admin ------------------- */
  .flex-admin-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
    width: 100%;
    height: 100vh;
  }

  .flex-modal-user {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin: 10px;
  }
}